




body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family:sans-serif;
    background-color: #ff57;
    max-width: 1500px;
}
.contact-title {
    margin-top: 100px;
    color: magenta;
    text-transform: uppercase;
    transition: all 4s ease-in-out;
}
.contact-title h1 {
    font-family: Audiowide;
}
.location-title h1 {
    font-family: Audiowide;
    text-transform: uppercase;
    transition: all 4s ease-in-out;
    margin-top: 100px;
    color: magenta;
}
.contact-title h2 {
font-size: 16px;
line-height: 10px;
}
.contact-title h3 {
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
form {
    margin-top: 50px;
    transition: all 4s ease-in-out;
    align-self: center;
    position: center;
}
.contact-area , .location-area , .about-area , .services-area , .menu-area{
position: center;
display: flex;
justify-content: space-around;
align-items: center;
flex-wrap: wrap;
flex-direction: row;
width: 100%;
height: 200px;
}
.form-control  {
    text-align: center;
   width: 700px;
   background: transparent;
   border: none;
   outline: none;
   border-bottom: 1px solid gray;
   color: #fff;
   font-size: 18px;
   margin: 16px;
}
input {
    height: 50px;
}
form .submit {
   background: #ff5722;
   border-color: transparent;
   color: #fff;
   font-size: 20px;
   font-weight: bold;
   letter-spacing: 2px;
   height: 50px;
   margin-top: 20px;
}
form .submit:hover {
    background-color: #f44336;
    cursor: progress;
}
.navbar{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #d4d7de;
    width: 100%;
    z-index: 1;
    transition: ease-in-out 4s;
}
ul {
text-align: right;
}
li {
    display: inline-block;
    color: #000;
    padding: 18px;
}
a {
    padding: 18px;
    margin-right: 0;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    color: #000;
}
a:hover {
    color: #ff5722;
}
html, body {
    margin: opx;
    padding: opx;
    height: 100%;
    width: 100%;
}
.home-area {
  position: relative;
    height: 100vh;
    width: 100%;
    margin: auto;
    background: url('img/Background Image.jpg') no-repeat 50% 50%;
    -webkit-background-size: cover;
    background-size: cover;


    .contact-area {
      background-image:url("https://images.unsplash.com/photo-1508424757105-b6d5ad9329d0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60")
      background-repeat:no-repeat;
      background-size: cover;
      width: 100%;
      height: 100vh;
    }
    table,tr,th,td {
        padding: 15px;
        border-collapse: collapse;
        border: 5px solid brown;
    }
    .text-area p{
        width: 80px;
        height: 80px;
        color: brown;
    }